#image-one {
  position: relative;
  bottom: 100px;
}

#image-three {
  position: relative;
  bottom: 110px;
}

#carousel-container {
  height: 311px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 700px) {
  #carousel-container  {
      display: none;

  }
}