.table {
  margin: auto;
  width: 92% !important;
}

.table-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hacker {
  text-transform: capitalize;
}

@media only screen and (max-width: 700px) {
.table {
  width: 95.2% !important;
}

}