.message-content {
	margin-top: 15px;
	padding: 4px;
	overflow-y: auto;
	height: 400px;
	display: flex;
	flex-direction: column-reverse;
}

.message-input {
	margin-bottom: 15px;
}

.student {
	align-self: flex-end;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-color: burlywood;
	border-radius: 1rem;
	font-weight: 700;
}

.employer {
	align-self: flex-start;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-color: cadetblue;
	border-radius: 1rem;
		font-weight: 700;
}

.student h6, .employer h6 {
  text-transform: uppercase;
  font-size: 11px;
}

#false {
	font-weight: 900;
	border-top-right-radius: 5em;
	border-bottom-right-radius: 5em;
}

.myacc-nav {
	margin-top: 10px;
}
