
.card-display { 
  border-radius: 5px !important;
  margin: 15px !important;
  overflow: hidden !important;
  transition: all 0.4s !important;
  cursor: pointer !important;
  color: black !important;
  margin-right: 1em !important; 
  border-left: 1px solid rgba(0, 0, 0, .125) !important;
}   

.card-display:hover {
  transform: translateY(-.1rem) scale(1.01) !important;
  box-shadow: 0 1.5rem 4rem !important;
}

div.card-group {
  margin-top: 2em;
}

#card-properties {
  height: 30em;
}

#card-image {
  height: 200px;
}

#timer {
  color: red;
  font-weight: 900;
}

@media only screen and (max-width: 700px) {
  #card-properties {
    height: 68vh;
  }

  #card-image {
    height: 173px;
  }
}