.university {
  min-height: 20em;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.university img {
    height: 10em;
}

.uni-icons {
  margin-top: 20px;
}
