.hero {
  color: white;
  background-image: url("../src/assets/img/baim-hanif-89800-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.in-hero {
  padding-top: 30px;
}
