.tab-heading {
	background-color: rgb(221, 221, 221);
	margin-top: 15px;
	padding: 5px;
	padding-left: 10px;
	border-radius: 0.5em;
}
.tab-card {
	margin-top: 20px;
}

.tab-card-body {
	height: auto;
}

.top-tabs .nav-link.active {
	background-color: rgb(238, 238, 237);
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid rgb(238, 238, 237);
}

.nav-tabs {
	margin-top: 20px;
	border-bottom: 1px solid lightgrey;
}

.side-tabs .nav-link.active {
	background-color: lightgrey !important;
	border-top-right-radius: 5em;
	/* border-radius: .25rem; */
	border-bottom-right-radius: 5em;
}

.side-tabs .nav-link:first-child {
}

.top-tabs:first-child {
	padding-left: 15px;
}

.top-tabs .nav-link:hover {
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid rgb(238, 238, 237);
}

.nav-tabs a,
.nav-pills a {
	color: rgb(64, 46, 49) !important;
}

.tab-spans {
	margin-left: 0;
	font-size: 11px;
}

.upper-row {
	margin-bottom: 15px;
}

.tab-small-headings {
	font-weight: 700;
}

.tab-spans.header {
	font-weight: 800;
	margin-left: 0;
	font-size: 1rem;
	text-transform: uppercase;
}

.middle-box {
	padding-left: 35px;
	line-height: 2rem;
}

.right-box {
	line-height: 2rem;
}

.offer-image img {
	height: 100px;
	width: 145px;
}

.won {
	color: green;
	text-transform: uppercase;
	font-weight: 800;
}

.lost, .ended {
	color: red;
	text-transform: uppercase;
	font-weight: 800;
}

.live {
	color: blue;
	text-transform: uppercase;
	font-weight: 800;
}

.empty {
	min-height: 458px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.nav-pills.active {
  color: red !important;
}

@media only screen and (max-width: 700px) {
	.upper-row {
		display: flex;
		justify-content: end;
		flex-direction: row;
	}

	.empty {
		min-height: 220px;
	}

	.upper-row .col-4 {
		flex: 0 0 50%;
	}

	.middle-box {
		padding-left: 0;
	}

	div.right-box {
		padding-left: 0;
	}

	.upper-row > div {
		max-width: 50%;
	}

	.middle-box > div {
		max-width: 100%;
	}

	.offer-image {
		max-width: 100%;
	}

	.right-box {
		max-width: 100%;
	}

	.right-box > div {
		max-width: 100%;
	}

	.tab-card-body > div {
		text-align: center;
	}
}
