.navbar-dark.bg-dark {
  background-color: rgb(63, 46, 70) !important;
}

.btn-outline-success {
  border-color: rgb(239, 86, 71) !important;
  color: rgb(239, 86, 71);
}

#logo {
  height: 3.5em;
}

/* .nav-link.active {
  color: rgba(255, 255, 255, .5) !important;
} */

.fa-2x {
  color: rgba(255, 255, 255, .5);
  margin-right: 20px;
}

#new-message {
  color: rgb(239, 86, 71);
}

@media only screen and (max-width: 700px) {

  .message-nav {
    display: none;
  }

}